{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Synergy Financial | Insurance, Investments & Consulting in Tucson, AZ{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

    <!-- Your stuff: Third-party css libraries go here -->

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">

    <!-- Krypton Theme CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/fontello.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/mystyle.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/shop_slider.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/slider.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/slider_2.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/sub_slider.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/twitter_slider.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/slide_background.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/shop_slider_background.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/subpage_banners.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/jrating.jquery.css' %}" rel="stylesheet" media="screen">

    <!-- Bootstrap Date-Time Picker CSS -->
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" media="screen">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lora:400,400italic' rel='stylesheet' type='text/css'>  

    <!-- Krypton Theme Javascript -->
    <script type="text/javascript" src="{% static 'js/modernizr.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&amp;sensor=false"></script>
    <script type="text/javascript" src="{% static 'js/google_map.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jrating.jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/myscript.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/modal_effects.js' %}"></script>

    <!-- Smooth Scroll Javascript -->
    <script type="text/javascript" src="{% static 'js/smooth-scroll.js' %}"></script>
    
    {% endblock %}

    {% block angular %}
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
    {% endblock %}

  </head>

  <body class="{% block body-class %}blog{% endblock body-class %}">

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col col-sm-12">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bars"></span>
            <span class="icon-bars"></span>
            <span class="icon-bars"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="{% static 'images/krypton_logo.png' %}" alt="Logo"></a>
        </div>
        <div class="collapse navbar-collapse" id="mynavbar">
          <div class="left-cell">
            <ul class="nav navbar-nav">
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'about' %}">About</a></li>
              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">Services</a>
                <ul class="dropdown-menu">
                  <li><h5 class="menuTitle">Services</h5></li>
                  <li><a href="{% url 'personal' %}">Personal</a></li>
                  <li><a href="{% url 'business' %}">Business</a></li>
                  <li><a href="{% url 'professionals' %}">Professionals</a></li>
                </ul>
              </li>
              <li><a href="{% url 'clients' %}">Client Center</a></li>
            </ul>
          </div>
          <div class="right-cell">
            <form class="navbar-form navbar-right">
              <ul>
                <li>
                  <div class="popup_form hide-me-first">
                    <input type="text" class="form-control" placeholder="Search">
                  </div>
                  <a class="search_btn"><i class="icon-search"></i></a>               
                </li>
              </ul>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav><!-- Main Navigation -->

    {% block content %}
    <h1>Content goes here!</h1>
    {% endblock content %}

<section class="bottom_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 ">
        <div class="row">
          <div class="section-head">
            <header class="col col-sm-12 centered">
              <h2 style="color: rgb(238, 238, 238);">Live Market Data</h2>
              <hr/>
            </header>
          </div>  
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 recent-portfolio">
        <div class="row">
          <div class="section-head">
            <header class="col col-sm-12 centered">
              <h2>Business News from <a href="http://online.wsj.com/">WSJ</a></h2>
              <hr>
            </header>
          </div>  
        </div>
        <div class="row">

          <!-- start feedwind code -->
          <script type="text/javascript">
            <!--
            rssmikle_url="http://online.wsj.com/xml/rss/3_7014.xml";
            rssmikle_frame_width="390";
            rssmikle_frame_height="303";
            rssmikle_target="_blank";
            rssmikle_font="'Open Sans', sans-serif"; ;
            rssmikle_font_size="14";
            rssmikle_border="on";
            responsive="off";
            rssmikle_css_url="";
            text_align="left";
            corner="off";
            autoscroll="off";
            scrolldirection="up";
            scrollstep="3";
            mcspeed="20";
            sort="New";
            rssmikle_title="off";
            rssmikle_title_sentence="Wall Street Journal: U.S. Business";
            rssmikle_title_link="";
            rssmikle_title_bgcolor="#ffffff";
            rssmikle_title_color="#ffffff";
            rssmikle_title_bgimage="http://";
            rssmikle_item_bgcolor="#ffffff";
            rssmikle_item_bgimage="http://";
            rssmikle_item_title_length="55";
            rssmikle_item_title_color="#1abc9c";
            rssmikle_item_border_bottom="on";
            rssmikle_item_description="off";
            rssmikle_item_description_length="150";
            rssmikle_item_description_color="#666666";
            rssmikle_item_date="gl1";
            rssmikle_timezone="Etc/GMT";
            datetime_format="%b %e, %Y %l:%M:%S %p";
            rssmikle_item_description_tag="off";
            rssmikle_item_podcast="off";
            //-->
          </script>
          <script type="text/javascript" src="http://widget.feed.mikle.com/js/rssmikle.js"></script>
          <div style="font-size:10px; text-align:center; width:390;">
            <a href="http://feed.mikle.com/" target="_blank" style="color:#CCCCCC;">RSS Feed Widget</a>
            <!--Please display the above link in your web page according to Terms of Service.-->
          </div>
          <!-- end feedwind code -->

        </div>
      </div>
      
      <div class="col-lg-4 col-md-4 col-sm-4 about-us">
        <div class="row">
          <div class="section-head">
            <header class="col col-sm-12 centered">
              <h2>Contact Us</h2>
              <hr>
            </header>
          </div>  
        </div>
        <div class="row">
          <div class="col-lg-12">

            <h4>SYNERGY FINANCIAL, LLC</h4>
            <p><a href="tel:5204255718">(520) 425-5718</a><br>
              <a href="mailto:info@financialsynergy.biz">info@financialsynergy.biz</a></p>

            <p>2601 N. Campbell Ave. Suite #201<br>
              Tucson, AZ 85719</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>  <footer>
<section class="container footer-section">
    <div class="col-lg-6 col-xs-12"><p>&copy; 2014 <a href="#">Synergy Financial, LLC</a>. All rights reserved. Designed by <a href="http://rabbitholestud.io">Rabbit Hole Studio</a>.</p></div>
    <div class="col-lg-6 footer-menu">
      <ul class="nav nav-pills">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'personal' %}">Personal</a></li>
        <li><a href="{% url 'business' %}">Business</a></li>
        <li><a href="{% url 'professionals' %}">Professionals</a></li>
        <li><a href="{% url 'clients' %}">Client Center</a></li>
      </ul>
    </div>
</section>
<section class="ss-style-doublediagonal" data-type="background" data-speed="10"></section>
</footer>

<script>
  smoothScroll.init({
      speed: 500, // Integer. How fast to complete the scroll in milliseconds
      easing: 'easeInOutQuart', // Easing pattern to use
      updateURL: false, // Boolean. Whether or not to update the URL with the anchor hash on scroll
      offset: 0, // Integer. How far to offset the scrolling anchor location in pixels
      callbackBefore: function ( toggle, anchor ) {}, // Function to run before scrolling
      callbackAfter: function ( toggle, anchor ) {} // Function to run after scrolling
  });
</script>

<div class="md-overlay"></div>
<div class="jquery-media-detect"></div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}

      <!-- Latest JQuery -->
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

      <!-- Latest compiled and minified JavaScript -->
      <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->
      <script src="{% static 'js/project.js' %}"></script>

      <!-- Krypton Theme Javascript -->
      <script type="text/javascript" src="{% static 'js/modernizr.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&amp;sensor=false"></script>
      <script type="text/javascript" src="{% static 'js/google_map.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/jrating.jquery.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/myscript.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/modal_effects.js' %}"></script>

    {% endblock javascript %}
  </body>
</html>
 