{% extends "base.html" %}
{% load staticfiles i18n %}

{% block title %}About | Synergy Financial{% endblock title %}
{% block description %} {% endblock description %}

{% block content %}
<section class="about-main">

	<img class="full-width" src="{% static 'images/grand-canyon.jpg' %}" title="Grand Canyon, Arizona" alt="Tucson, Arizona is the home of Synergy Financial" />

	<div class= "container">
		
		<div class="col-sm-6">
			<h2>The Company</h2>
			<p>Nulla fringilla commodo eros, sed euismod erat facilisis non. Nunc a augue imperdiet, bibendum ligula eu, commodo felis. Suspendisse eget magna ut arcu ornare aliquet quis in elit. In tempus laoreet euismod. Pellentesque diam metus, mollis sit amet porta ac, dapibus et enim. Sed viverra tristique congue. Pellentesque justo urna, imperdiet sed lorem non, vestibulum gravida dui. Donec sollicitudin justo neque, eu posuere ipsum vulputate eu.</p>
		</div>
	
		<div class="col-sm-6">
			<h2>Our Mission</h2>
			<p>Our mission is to give individuals and businesses in our community the education and financial guidance that they need to prepare for all of life's personal and professional challenges.</p>
		</div>

	</div>	
</section>

<section class="profile_team">
	<div class="container">
		<div class="row">
			<div class="section-head">
				<header class="col col-sm-12 centered">
					<section>
						<h1 class="section-title">Meet Our Team</h1>
					</section>
					<p class="descriptionText">Nulla fringilla commodo eros, sed euismod erat facilisis non. Nunc a augue imperdiet, bibendum ligula eu, commodo felis. Suspendisse eget magna ut arcu ornare aliquet quis in elit.</p>
					<hr>
				</header>
			</div>	
		</div>

		<div class="row">

			<div class="profile col-sm-6 col-md-4 col-md-offset-2 col-lg-3 col-lg-offset-0" data-uk-scrollspy="{cls:'uk-animation-fade'}">
				<figure>
					<div class="top-image">
						<img src="{% static 'images/team/juan-pantoja.jpg' %}" class="img-responsive" title="Juan Carlos Pantoja" alt="Juan C. Pantoja, Managing Director at Synergy Financial"/>
					</div>
					<figcaption>
						<h3><span class="profile-heading">JUAN C. PANTOJA</span></h3>
						<span class="profile-subheading">Managing Director</span>
						<div class="figcap"></div>
					</figcaption>
				</figure>
			</div>	

			<div class="profile col-sm-6 col-md-4 col-lg-3 col-lg-offset-0" data-uk-scrollspy="{cls:'uk-animation-fade', delay:600}">
				<figure>
					<div class="top-image">
						<img src="{% static 'images/team/paul-perez.jpg' %}" class="img-responsive" title="Paul C. Perez" alt="Paul C. Perez, Financial Representative at Synergy Financial"/>
					</div>
					<figcaption>
						<h3><span class="profile-heading">PAUL C. PEREZ</span></h3>
						<span class="profile-subheading">Financial Representative</span>
						<div class="figcap"></div>
					</figcaption>
				</figure>
			</div>	

			<div class="profile col-sm-6 col-md-4 col-md-offset-2 col-lg-3 col-lg-offset-0" data-uk-scrollspy="{cls:'uk-animation-fade', delay:1200}">
				<figure>
					<div class="top-image">
						<img src="{% static 'images/team/claire-matthews.jpg' %}" class="img-responsive" title="Britney Churchill" alt="Britney Churchill, Marketing Director at Synergy Financial"/>
					</div>
					<figcaption>
						<h3><span class="profile-heading">Britney Churchill</span></h3>
						<span class="profile-subheading">Marketing Director</span>
						<div class="figcap"></div>
					</figcaption>
				</figure>
			</div>

			<div class="profile col-sm-6 col-md-4 col-lg-3 col-lg-offset-0" data-uk-scrollspy="{cls:'uk-animation-fade', delay:1200}">
				<figure>
					<div class="top-image">
						<img src="{% static 'images/team/robb-stark.jpg' %}" class="img-responsive" title="Tony Sharpe" alt="Tony Sharpe, Operations Specialist at Synergy Financial"/>
					</div>
					<figcaption>
						<h3><span class="profile-heading">Tony Sharpe</span></h3>
						<span class="profile-subheading">Operations Specialist</span>
						<div class="figcap"></div>
					</figcaption>
				</figure>
			</div>	
		</div>
	</div>
</section>

{% endblock content %}