{% extends "base.html" %}
{% load staticfiles i18n %}

{% block title %}Business Services | Synergy Financial{% endblock title %}
{% block description %} {% endblock description %}

{% block content %}
<section class="services-main business" data-type="background" data-speed="3">
	<div class="dark-overlay">
		<div class= "container">
			<h2 class="services-title">Business Services</h2>

			<div class="col-sm-10 col-sm-offset-1">
				<p>Donec fringilla rutrum est eget dignissim. Donec dictum lectus in nisl congue adipiscing. Aenean nec lacus mauris. Suspendisse mi nisi, tincidunt vitae ipsum sit amet, aliquam placerat arcu. Nunc adipiscing velit sed tortor pharetra auctor. Donec id leo a leo pretium vestibulum eget eget lectus.</p>
			</div>

			<div class="choose col-xs-12">
				<h5>Choose one of the options below to learn more</h5>
				<i class="icon-down-circle"></i>
			</div>
		</div>
	</div>	
</section>

<section class="services-nav">
	<nav class="services-nav navbar navbar-default" role="navigation">
	  <div class="collapse navbar-collapse navbar-ex1-collapse">
	    <ul class="nav navbar-nav">
	      <li><a data-scroll class="last-nav" href="#biz-consulting" title="Business Consulting services from Synergy Financial">Consulting</a></li>
	      <li><a data-scroll href="#benefits" title="Employee Benefits services from Synergy Financial">Employee Benefits</a></li>
	      <li><a data-scroll href="#risk-mgmt" title="Risk Management services from Synergy Financial">Risk Management</a></li>
	    </ul>
	  </div>
	</nav>
</section>

<section id="biz-consulting" class="biz-consulting">
	<div class="container">
		<div class="row">
			<div class="section-head">
				<header class="col col-sm-12 centered">
					<section>
						<h1 class="section-title">Business Consulting</h1>
					</section>
					<hr>
				</header>
			</div>
		</div>

		<div class="cn_wrapper row">
			<div id="cn_list" class="cn_list col col-xs-4" data-uk-scrollspy="{cls:'uk-animation-slide-left'}">
				<div class="cn_page" style="display:block;">
					<div class="cn_item selected">
						<div class="row">
							<div class="col col-sm-2 vs_icon">
								<i class="icon-users"></i>
							</div>
							<div class="col col-sm-10 vs_text">
								<h2 class="vs_title">Management</h2>
								<p class="vs_description">Adipiscing Purus</p>
							</div>
						</div>
					</div>
					<div class="cn_item">
						<div class="row">
							<div class="col col-sm-2 vs_icon">
								<i class="icon-chart-line"></i>
							</div>
							<div class="col col-sm-10 vs_text">
								<h2 class="vs_title">Marketing & Sales</h2>
								<p class="vs_description">Porta Venenatis</p>
							</div>
						</div>
					</div>
					<div class="cn_item">
						<div class="row">
							<div class="col col-sm-2 vs_icon">
								<i class="icon-user-2"></i>
							</div>
							<div class="col col-sm-10 vs_text">
								<h2 class="vs_title">Human Capital</h2>
								<p class="vs_description">Dapibus Ipsum</p>
							</div>
						</div>
					</div>
					<div class="cn_item">
						<div class="row">
							<div class="col col-sm-2 vs_icon">
								<i class="icon-calculator"></i>
							</div>
							<div class="col col-sm-10 vs_text">
								<h2 class="vs_title">Finance</h2>
								<p class="vs_description">Pellentesque Etiam</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="cn_preview" class="cn_preview col col-xs-8">
				<div class="cn_content" style="top:0;" data-uk-scrollspy="{cls:'uk-animation-slide-right', delay:300}">
					<div class="col-md-6">
						<h3>Management</h4>
						<p>Donec euismod ornare ipsum fringilla volutpat. Morbi iaculis eu eros eu aliquet. Vestibulum non arcu sollicitudin mi fermentum porttitor. Proin pretium condimentum euismod. Integer et justo sed dolor posuere consequat ut vel risus. Pellentesque id arcu a quam varius tincidunt.</p>
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="{% static 'images/vertical-slider/management.jpg' %}" title="Management Services" alt="Management services for businesses from Synergy Financial"/>
					</div>
				</div>
				<div class="cn_content">
					<div class="col-md-6">
						<h3>Marketing & Sales</h4>
						<p>Donec euismod ornare ipsum fringilla volutpat. Morbi iaculis eu eros eu aliquet. Vestibulum non arcu sollicitudin mi fermentum porttitor. Proin pretium condimentum euismod. Integer et justo sed dolor posuere consequat ut vel risus. Pellentesque id arcu a quam varius tincidunt.</p>
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="{% static 'images/vertical-slider/marketing+sales.png' %}" title="Marketing and Sales Services" alt="Marketing and Sales services for businesses from Synergy Financial"/>
					</div>		
				</div>
				<div class="cn_content">
					<div class="col-md-6">
						<h3>Human Capital</h4>
						<p>Donec euismod ornare ipsum fringilla volutpat. Morbi iaculis eu eros eu aliquet. Vestibulum non arcu sollicitudin mi fermentum porttitor. Proin pretium condimentum euismod. Integer et justo sed dolor posuere consequat ut vel risus. Pellentesque id arcu a quam varius tincidunt.</p>
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="{% static 'images/vertical-slider/human-capital.png' %}" title="Human Capital Services" alt="Human Capital services for businesses from Synergy Financial"/>
					</div>				
				</div>
				<div class="cn_content">
					<div class="col-md-6">
						<h3>Finance</h4>
						<p>Donec euismod ornare ipsum fringilla volutpat. Morbi iaculis eu eros eu aliquet. Vestibulum non arcu sollicitudin mi fermentum porttitor. Proin pretium condimentum euismod. Integer et justo sed dolor posuere consequat ut vel risus. Pellentesque id arcu a quam varius tincidunt.</p>
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="{% static 'images/vertical-slider/corporate-finance.png' %}" title="Corporate Finance Services" alt="Corporate Finance services for businesses from Synergy Financial"/>
					</div>			
				</div>
			</div>
		</div>
	</div>
</section>

<section class="benefits" id="benefits">
	<div class="container">
		<div class="row">
			<div class="section-head">
				<header class="col col-sm-12 centered">
					<section>
						<h1 class="section-title">Employee Benefits</h1>
					</section>
					<hr>
				</header>
			</div>
		</div>

		<div class="col-sm-6">
			<h2>Executive Compensation</h2>
			<p>Nulla fringilla commodo eros, sed euismod erat facilisis non. Nunc a augue imperdiet, bibendum ligula eu, commodo felis. Suspendisse eget magna ut arcu ornare aliquet quis in elit. In tempus laoreet euismod. Pellentesque diam metus, mollis sit amet porta ac, dapibus et enim. Sed viverra tristique congue. Pellentesque justo urna, imperdiet sed lorem non, vestibulum gravida dui. Donec sollicitudin justo neque, eu posuere ipsum vulputate eu.</p>
		</div>
	
		<div class="col-sm-6">
			<h2>Employee Compensation</h2>
			<p style="margin-bottom: 0px;">Aenean sagittis nunc at nunc vehicula dapibus. Nulla porta massa in lorem lobortis, vel porttitor quam molestie. Maecenas dapibus est eu rutrum condimentum. Etiam tempor libero ac tellus porta tincidunt. Sed elementum quis magna elementum sollicitudin. Aliquam at scelerisque enim, sit amet posuere lorem.</p>
		</div>

	</div>
</section>

<section id="risk-mgmt" class="risk-mgmt">
	<div class= "container">
		<div class="row">
			<div class="section-head">
				<header class="col col-sm-12 centered">
					<section>
						<h1 class="section-title">Risk Management</h1>
					</section>
					<hr>
				</header>
			</div>
		</div>
		<div class="risk-icon-container scroll-target">
			<div class="container risk-icon">
				<div class="row">
					<div class="col-sm-6 col-md-4" data-uk-scrollspy="{cls:'uk-animation-fade', delay:600}">
						<span><i class="icon-dollar"></i></span>
						<h4>Buy-Sell</h4>				
						<p>Proin pretium condimentum euismod. Integer et justo sed dolor posuere consequat ut vel risus. Pellentesque id arcu a quam varius tincidunt.</p>
					</div>
					<div class="col-sm-6 col-md-4" data-uk-scrollspy="{cls:'uk-animation-fade', delay:900}">
						<span><i class="icon-user-1"></i></span>
						<h4>Key Person</h4>
						<p>Proin pretium condimentum euismod. Integer et justo sed dolor posuere consequat ut vel risus. Pellentesque id arcu a quam varius tincidunt.</p>
					</div>
					<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0" data-uk-scrollspy="{cls:'uk-animation-fade', delay:1300}">
						<span><i class="icon-lock"></i></span>
						<h4>Asset Protection</h4>
						<p>Proin pretium condimentum euismod. Integer et justo sed dolor posuere consequat ut vel risus. Pellentesque id arcu a quam varius tincidunt.</p>
					</div>
				</div>
			</div>
		</div>

	</div>	
</section>

<section class="consulting-cta">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h2>Free Consultation CTA</h2>
				<p>Maecenas dapibus est eu rutrum condimentum. Etiam tempor libero ac tellus porta tincidunt. Sed elementum quis magna elementum sollicitudin.</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0 col-lg-3 col-lg-offset-1">
				<a href="{% url 'home' %}#consultation"><button class="btn btn-large btn-block btn-info">Get a Free Consultation</button></a>
			</div>
		</div>
	</div>
</section>

{% endblock content %}