{% extends "base.html" %}
{% load staticfiles i18n %}

{% block title %}Business Services | Synergy Financial{% endblock title %}
{% block description %} {% endblock description %}

{% block content %}
<section class="services-main business" data-type="background" data-speed="3">
	<div class="dark-overlay">
		<div class= "container">
			<h2 class="services-title business">Business</br>Services</h2>
		</div>
	</div>	
</section>

<section id="biz-consulting" class="biz-consulting">
	<div class="container">
		<div class="row">
			<div class="section-head">
				<header class="col col-sm-12 centered">
					<section>
						<h1 class="section-title">Group Benefits</h1>
					</section>
					<hr>
				</header>
			</div>
		</div>

		<div class="cn_wrapper row">
			<div id="cn_list" class="cn_list col col-xs-4" data-uk-scrollspy="{cls:'uk-animation-slide-left'}">
				<div class="cn_page" style="display:block;">
					<div class="cn_item selected">
						<div class="row">
							<div class="col col-sm-2 vs_icon">
								<i class="fa fa-users"></i>
							</div>
							<div class="col col-sm-10 vs_text">
								<h2 class="vs_title">Retirement</h2>
								<p class="vs_description">__________</p>
							</div>
						</div>
					</div>
					<div class="cn_item">
						<div class="row">
							<div class="col col-sm-2 vs_icon">
								<i class="fa fa-user-md"></i>
							</div>
							<div class="col col-sm-10 vs_text">
								<h2 class="vs_title">Health</h2>
								<p class="vs_description">__________</p>
							</div>
						</div>
					</div>
					<div class="cn_item">
						<div class="row">
							<div class="col col-sm-2 vs_icon">
								<i class="fa fa-wheelchair"></i>
							</div>
							<div class="col col-sm-10 vs_text">
								<h2 class="vs_title">Disability</h2>
								<p class="vs_description">__________</p>
							</div>
						</div>
					</div>
					<div class="cn_item">
						<div class="row">
							<div class="col col-sm-2 vs_icon">
								<i class="fa fa-eye"></i>
							</div>
							<div class="col col-sm-10 vs_text">
								<h2 class="vs_title">Life</h2>
								<p class="vs_description">__________</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="cn_preview" class="cn_preview col col-xs-8">
				<div class="cn_content" style="top:0;" data-uk-scrollspy="{cls:'uk-animation-slide-right', delay:300}">
					<div class="col-xs-12">
						<h3>Retirement</h4>
						<p>Whether you’re a large employer or small business, sponsoring a retirement plan can help you retain your most valuable employees and increase job satisfaction. <a href="{% url 'home' %}#consultation" title="Schedule a free needs analysis with Synergy Financial">Schedule a free needs analysis</a> to review your current retirement plan or to sponsor a new one. Compare your options to find what the retirement plan that best fits the objectives of your stakeholders and employees.</p>
					</div>
				</div>
				<div class="cn_content">
					<div class="col-xs-12">
						<h3>Group Health</h4>
						<p>Find out how the Affordable Care Act will affect your business and learn how to select the best coverage for your employees and their families.</p>
					</div>	
				</div>
				<div class="cn_content">
					<div class="col-xs-12">
						<h3>Group Disability</h4>
						<p>Help protect your employees’ income. Disability insurance can help your employees cover living expenses like mortgages, car payments, utilities and tuition.</p>
					</div>	
				</div>
				<div class="cn_content">
					<div class="col-xs-12">
						<h3>Group Life</h4>
						<p>How will your business suffer at the loss of a key member or employee? What will it cost to recruit, select and train a new candidate to take on the responsibilities of your key person? Learn how group life insurance can help protect your business, employees and their dependents.</p>
					</div>		
				</div>
			</div>
		</div>
	</div>
</section>

<section class="consulting-cta">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h2><strong>Free</strong> Needs Analysis Request</h2>
				<p style="font-size: 20px;">Interested in learning more about our financial services for business? Schedule your Free Needs Analysis today!</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0 col-lg-3 col-lg-offset-1">
				<a href="{% url 'home' %}#consultation"><button class="btn btn-large btn-block btn-info">Request a Needs Analysis</button></a>
			</div>
		</div>
	</div>
</section>

{% endblock content %}