{% extends "base.html" %}
{% load staticfiles i18n %}

{% block title %}Client Center | Synergy Financial{% endblock title %}
{% block description %} {% endblock description %}

{% block content %}
<section class="services-main client-center" data-type="background" data-speed="3">
	<div class="dark-overlay">
		<div class= "container">
			<h2 class="services-title">Client Center</h2>

			<div class="col-sm-10 col-sm-offset-1">
				<p style="margin: 20px 0 40px; font-size: 20px;">Thank you for choosing Synergy Financial as your trusted sidekick on the pathway to success!</p>
			</div>
		</div>
	</div>	
</section>

<section class="client-login">
	<div class="container">
		<div class="row">
			<div class="section-head">
				<header class="col col-sm-12 centered">
					<section>
						<h1 class="section-title">Client Login</h1>
					</section>
					<p class="descriptionText">Choose your company below to login access your account information.</p>
					<hr>
				</header>
			</div>
		</div>

		<form name="clientlogin">
			<div class="col-md-5 col-md-offset-1">
				<select name="companies" class="form-control" required>
					<option>Choose Company</option>
					<option value="https://www.lgamerica.com/csloginbann.htm">Banner Life</option>
					<option value="https://client.schwab.com/Login/SignOn/CustomerCenterLogin.aspx">Charles Schwab</option>
					<option value="https://sec.fidelitylife.com/pb2/esig">Fidelity Life</option>
					<option value="https://www.genworth.com/login.html">Genworth</option>
					<option value="http://ing.us/account-login">ING</option>
					<option value="http://www.massmutual.com/">MassMutual</option>
					<option value="https://online.metlife.com/edge/web/public/login">MetLife</option>
					<option value="https://agent.mutualtrust.com/Profile/Login.aspx">MTL Insurance Company</option>
					<option value="http://www.mutualofomaha.com/">Mutual of Omaha</option>
					<option value="https://www.vsc3.newyorklife.com/VSCRegWebApp/login">New York Life</option>
					<option value="http://www.nationwide.com/account-access.jsp">Nationwide</option>
					<option value="https://www.mutualfunds.pacificlife.com/authenticate/plf_login.html">Pacific Life</option>
					<option value="https://auth.principal.com/oaam_server/pfgLoginPage.jsp">Principal Financial Group</option>
					<option value="http://www.prudential.com/globallogin?quadr=topright&name=allloginoptions">Prudential</option>
					<option value="http://www.transamerica.com/individual/login">Transamerica</option>
				</select>
					<script type="text/javascript">
						<!--
						function go(){
						location=
						document.clientlogin.companies.
						options[document.clientlogin.companies.selectedIndex].value
						}
						//-->
					</script>
			</div>

			<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-1">
				<button type="button" name="test" onClick="go()" class="btn btn-primary btn-lg btn-block">Login</button>
			</div>
		</form>
	</div>
</section>

<section class="referral">
	<div class= "container">
		<div class="row">
			<div class="section-head">
				<header class="col col-sm-12 centered">
					<section>
						<h1 class="section-title">Refer a Friend</h1>
					</section>
					<p class="descriptionText">Ensure that the ones you love and care for the most are receiving the best service and planning for their financial future! Like us on social media and use our <strong><a href="{% url 'home' %}#consultation">Free Needs Analysis Request</a></strong> to let them know you care.</p>
					<hr>
				</header>
			</div>
		</div>
		
		<div class="col-xs-6 col-sm-3">
			<i class="icon-facebook-squared"></i>
			<!-- Facebook Like/Share Buttons -->
				<div class="fb-like" data-href="http://www.financialsynergy.biz" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
			<!--/ Facebook Like/Share Buttons -->
		</div>
	
		<div class="col-xs-6 col-sm-3">
			<i class="icon-twitter"></i>
			<!-- Twitter Share Button -->
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.financialsynergy.biz" data-text="Synergy Financial | Financial Services for Businesses and Individuals in Tucson, AZ" data-hashtags="FinancialSynergy">Tweet</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
					</script>
			<!--/ Twitter Share Button -->
		</div>

		<div class="col-xs-6 col-sm-3">
			<i class="icon-linkedin-squared"></i>
			<!-- LinkedIn Share Button -->
				<script src="//platform.linkedin.com/in.js" type="text/javascript">
				  lang: en_US
				</script>
				<script type="IN/Share" data-url="http://www.financialsynergy.biz" data-counter="right"></script>
			<!--/ LinkedIn Share Button -->
		</div>

		<div class="col-xs-6 col-sm-3">
			<i class="icon-gplus-squared"></i>
			<!-- Google Plus +1 Button -->
				<div class="g-plusone" data-href="http://www.financialsynergy.biz"></div>
			<!--/ Google Plus +1 Button -->
			<!-- Google Plus Share Button -->
				<div class="g-plus" data-action="share" data-annotation="bubble" data-href="http://www.financialsynergy.biz"></div>
					<script type="text/javascript">
					  (function() {
					    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
					    po.src = 'https://apis.google.com/js/platform.js';
					    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
					  })();
					</script>
			<!--/ Google Plus Share Button -->
		</div>

	</div>	
</section>

{% endblock content %}