{% extends "base.html" %}
{% load staticfiles i18n %}

{% block title %}Client Center | AZ Medicare Helpers{% endblock title %}
{% block description %} {% endblock description %}

{% block content %}

<!-- CLIENT CENTER WELCOME
================================================== -->
<section class="services-main client-center text-white" data-type="background" data-speed="3">
	<div class="dark-overlay">
		<div class= "container">
			<h2 class="title">Client Center</h2>
			<div class="col-sm-10 col-sm-offset-1">
				<h4>Thank you for choosing AZ Medicare Helpers as your trusted sidekick on the pathway to success!</h4>
			</div>
		</div>
	</div>	
</section>
<!-- END CLIENT CENTER WELCOME
================================================== -->

<!-- REFER A FRIEND
================================================== -->
<section class="consultation section" style="background: #f1f1f1;">
	<div class= "container">
		<div class="row">
			<div class="section-head">
				<header class="col-sm-12 centered">
					<h1 class="title">Refer a Friend</h1>
					<p class="descriptionText">If you have a friend that would benefit from our services, please fill out the form below.</p>
					<hr>
				</header>
			</div>
		</div>
		<div class="row">
			<form role="form" action="/" method="POST">
				{% csrf_token %}
			  <div class="form-group col-sm-6 col-md-3 col-md-offset-2">
					<input type="text" class="form-control" id="InputName" placeholder="Your Name" name="name">
			  </div><!--/ .form-group-->
			  <div class="form-group col-sm-6 col-md-5">
					<input type="email" class="form-control" id="InputEmail" placeholder="Your Email" name="email">
			  </div><!--/ .form-group-->
			  <div class="form-group col-sm-6 col-md-4 col-md-offset-2">
					<input type="text" class="form-control" id="InputReferralName" placeholder="Referral Name" name="referral_name">
			  </div><!--/ .form-group-->
			  <div class="form-group col-sm-6 col-md-4">
					<input type="phone" class="form-control" id="InputReferralPhone" placeholder="Referral Phone Number" name="referral_phone">
			  </div><!--/ .form-group-->
			  <div class="form-group col-md-8 col-md-offset-2">
					<input type="email" class="form-control" id="InputReferralEmail" placeholder="Referral Email" name="referral_email">
			  </div><!--/ .form-group-->
			  <div class="form-group col-md-8 col-md-offset-2">
					<textarea class="form-control" rows="3" placeholder="&#8220;I saw this webpage with Medicare information and I thought that you would be interested!&#8221;" name="message"></textarea>
			  </div><!--/ .form-group-->
			  <div class=" form-group col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
			  	<input type="submit" class="btn btn-primary btn-large btn-block" value="Submit" name="submit">
			  </div><!--/ .form-group-->
			</form>
		</div>
	</div>	
</section>
<!-- END REFER A FRIEND
================================================== -->

<!-- CLIENT LOGIN
================================================== -->
<section class="consultation section" style="background: #fff;">
	<div class="container">
		<div class="row">
			<div class="section-head">
				<header class="col-sm-12 centered">
					<h1 class="title">Client Help Center</h1>
					<p class="descriptionText">Praesent pulvinar velit non libero blandit, id auctor lorem pulvinar.</p>
					<hr>
				</header>
			</div>
		</div>
		<div class="row">
			<form role="form" action="/" method="POST">
				{% csrf_token %}
			  <div class="form-group col-sm-6 col-md-4 col-md-offset-2">
					<input type="text" class="form-control" id="InputFirstName" placeholder="First Name" name="first_name">
			  </div><!--/ .form-group-->
			  <div class="form-group col-sm-6 col-md-4">
					<input type="text" class="form-control" id="Input Last Name" placeholder="Last Name" name="last_name">
			  </div><!--/ .form-group-->
			  <div class="form-group col-sm-5 col-md-3 col-md-offset-2">
					<input type="phone" class="form-control" id="InputPhone" placeholder="Phone Number" name="phone">
			  </div><!--/ .form-group-->
			  <div class="form-group col-sm-7 col-md-5">
					<input type="email" class="form-control" id="InputEmail" placeholder="Email Address" name="email">
			  </div><!--/ .form-group-->
			  <div class="form-group col-sm-6 col-md-4 col-md-offset-2">
					<select id="ContactPreference" class="form-control" name="contact_preference">
				    <option value="">Preferred Contact Method</option>
				    <option value="phone">Phone</option>
				    <option value="email">Email</option>
				    <option value="none">No Preference</option>
					</select>
			  </div><!--/ .form-group-->
			  <div class="form-group col-sm-6 col-md-4">
					<select id="Agent" class="form-control" name="agent">
				    <option value="">Who's your agent?</option>
				    <option value="">Option 1</option>
				    <option value="">Option 2</option>
				    <option value="">Option 3</option>
				    <option value="unsure">I don't know</option>
					</select>
			  </div><!--/ .form-group-->
			  <div class="form-group col-sm-6 col-md-4 col-md-offset-2">
					<select id="Company" class="form-control" name="company">
				    <option value="">What company are you with?</option>
				    <option value="">Option 1</option>
				    <option value="">Option 2</option>
				    <option value="">Option 3</option>
					</select>
			  </div><!--/ .form-group-->
			  <div class="form-group col-sm-6 col-md-4">
					<select id="Product" class="form-control" name="product">
				    <option value="">What product do you have?</option>
				    <option value="">Option 1</option>
				    <option value="">Option 2</option>
				    <option value="">Option 3</option>
					</select>
			  </div><!--/ .form-group-->
			  <div class="form-group col-md-8 col-md-offset-2">
					<textarea class="form-control" rows="3" placeholder="Describe the issue that you need help with..." name="message"></textarea>
			  </div><!--/ .form-group-->
			  <div class=" form-group col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
			  	<input type="submit" class="btn btn-primary btn-large btn-block" value="Submit" name="submit">
			  </div><!--/ .form-group-->
			</form>
		</div>
	</div>
</section>
<!-- END CLIENT LOGIN
================================================== -->

{% endblock content %}