{% extends "base.html" %}
{% load staticfiles i18n %}

{% block content %}

<!-- WELCOME
================================================== -->
<section class="welcome" data-type="background" data-speed="3">
	<div class="dark-overlay text-white">
		<div class= "container">
			<div class="spanish-button">
				<a href="{% url 'spanish' %}">Traducción Español</a>
			</div>
			<h1 class="company-title-1 title">AZ Medicare</h1>
			<h2 class="company-title-2 title">Helpers</h2>
			<div class="col-md-10 col-md-offset-1">
				<h3 class="tagline title">Providing Simple Answers to Your Medicare Questions</h3>
				<p class="description">At Arizona Medicare Helpers we understand that the complex nature of Medicare Insurance can feel confusing and even overwhelming at times. Often searching for answers to simple Medicare questions can create more frustration than it seems to be worth. That is why we have a dedicated team of professionals committed to helping you understand and feel confident in your Medicare decisions.</p>
			</div><!--/ .col-md-10-->
			<a class="btn btn-md btn-info" data-scroll href="#consultation" title="Request a free needs analysis with AZ Medicare Helpers">Get Answers to Your Questions</a>
		</div><!--/ .container-->
	</div><!--/ .dark-overlay-->
</section>
<!-- END WELCOME
================================================== -->

<!-- AFFILIATE COMPANIES
================================================== -->
<section class="partner-companies section">
	<div class="container">
		<div class="row section-head">
			<header class="col-sm-12 centered">
				<h2 class="title">Choose the Plan That Best Fits Your Needs</h2>
				<hr><!-- separator-->
			</header>
		</div><!--/ .row-->
		<div class="companies row">
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-lg-offset-2">
				<img class="grow" src="{% static 'images/partners/blue-cross-blue-shield.jpg' %}" title="New York Life" alt="New York Life is a trusted partner of AZ Medicare Helpers"/>
			</div><!--/ .col-xs-6-->
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<img class="grow" src="{% static 'images/partners/caremore.jpg' %}" title="MetLife" alt="MetLife is a trusted partner of AZ Medicare Helpers"/>
			</div><!--/ .col-xs-6-->
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<img class="grow" src="{% static 'images/partners/health-net.jpg' %}" title="ING Financial Services" alt="ING is a trusted partner of AZ Medicare Helpers"/>
			</div><!--/ .col-xs-6-->
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<img class="grow" src="{% static 'images/partners/humana.jpg' %}" title="Banner Life" alt="Banner Life is a trusted partner of AZ Medicare Helpers"/>
			</div><!--/ .col-xs-6-->
			<div class="col-xs-6 col-sm-4 col-md-3 col-md-offset-1 col-lg-2 col-lg-offset-3">
				<img class="grow" src="{% static 'images/partners/scan-health-plan.jpg' %}" title="MassMutual" alt="MassMutual is a trusted partner of AZ Medicare Helpers"/>
			</div><!--/ .col-xs-6-->
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<img class="grow" src="{% static 'images/partners/united-healthcare.jpg' %}" title="Nationwide" alt="Nationwide is a trusted partner of AZ Medicare Helpers"/>
			</div><!--/ .col-xs-6-->
			<div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-md-3 col-md-offset-0 col-lg-2">
				<img class="grow" src="{% static 'images/partners/university-arizona-health-plans.jpg' %}" title="Prudential" alt="Prudential is a trusted partner of AZ Medicare Helpers"/>
			</div><!--/ .col-xs-6-->
		</div><!--/ .companies-->
	</div><!--/ .container-->
</section>
<!-- END AFFILIATE COMPANIES
================================================== -->

<!-- CONSULTATION FORM
================================================== -->
{% block messages %}
<div class="container">
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
      </div><!--/ .alert-->
    {% endfor %}
  {% endif %}
</div><!--/ .container-->
{% endblock messages %}
<section id="consultation" class="consultation text-white" data-type="background" data-speed="3">
	<div class="dark-overlay section">
		<div class="container">
			<div class="row">
				<div class="section-head">
					<header class="col-sm-12 centered">
						<h1 class="title">Medicare Answers from Medicare Professionals</h1>
						<hr><!--/ separator-->
					</header>
				</div><!--/ .section-head-->
			</div><!--/ .row-->
			<div class="row">
				<form class="consultation-form" role="form" action="/" method="POST">
					{% csrf_token %}
				  <div class="form-group col-sm-6 col-md-4 col-md-offset-2">
						<input type="text" class="form-control" id="InputFirstName" placeholder="First Name" name="first_name">
				  </div><!--/ .form-group-->
				  <div class="form-group col-sm-6 col-md-4">
						<input type="text" class="form-control" id="Input Last Name" placeholder="Last Name" name="last_name">
				  </div><!--/ .form-group-->
				  <div class="form-group col-md-8 col-md-offset-2">
						<input type="phone" class="form-control" id="InputPhone" placeholder="Phone Number" name="phone">
				  </div><!--/ .form-group-->
				  <div class="form-group col-md-8 col-md-offset-2">
						<input type="email" class="form-control" id="InputEmail" placeholder="Email Address" name="email">
				  </div><!--/ .form-group-->
				  <div class="form-group col-sm-6 col-md-4 col-md-offset-2">
				  	<label for="Action">Contact Me About...</label>
						<select id="Action" class="form-control" name="learn">
						  <option>Select Option</option>
						  <option>Medicare Advantage Plans</option>
						  <option>Medicare Supplement Insurance</option>
						  <option>Prescription Drug Plans</option>
						</select>
				  </div><!--/ .form-group-->
				  <div class="form-group col-sm-6 col-md-4">
				  	<label for="Topics">Additional Interests...</label>
						<select id="Topics" class="form-control" name="topic">
							<option>Select Option</option>
						  <option>Additional No Cost Benefits</option>
						  <option>Medicare Part A & B</option>
						  <option>Dental, Vision and Hearing Benefits</option>
						  <option>Medicare Plans for those on ACCCHS</option>
						  <option>Disability</option>
						  <option>Other</option>
						</select>
				  </div><!--/ .form-group-->
				  <div class="form-group col-md-8 col-md-offset-2">
						<textarea class="form-control" rows="3" placeholder="Send us a message..." name="message"></textarea>
				  </div><!--/ .form-group-->
				  <div class="col-md-8 col-md-offset-2">
				  	<p class="disclaimer">*As a result of completing this form, a sales agent may mail, call or email you to discuss Medicare Advantage, Prescription Drug Plans or Medicare Supplement Insurance.</p>
				  </div><!--/ .col-md-8-->
				  <div class=" form-group col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
				  	<input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit" name="submit">
				  </div><!--/ .form-group-->
				</form>
			</div><!--/ .row-->
		</div><!--/ .container-->
	</div><!--/ .dark-overlay-->
</section>
<!-- END CONSULTATION FORM
================================================== -->

{% endblock content %}