{% extends "base.html" %}
{% load staticfiles i18n %}

{% block title %}Professionals | Synergy Financial{% endblock title %}

{% block content %}
<section class="services-main professionals" data-type="background" data-speed="3">
	<div class="dark-overlay">
		<div class= "container">
			<h2>Professional Partnerships</h2>

			<div class="col-sm-10 col-sm-offset-1">
				<p>Donec fringilla rutrum est eget dignissim. Donec dictum lectus in nisl congue adipiscing. Aenean nec lacus mauris. Suspendisse mi nisi, tincidunt vitae ipsum sit amet, aliquam placerat arcu. Nunc adipiscing velit sed tortor pharetra auctor. Donec id leo a leo pretium vestibulum eget eget lectus.</p>
			</div>
		</div>
	</div>	
</section>

<section id="insurance" class="insurance">
	<div class= "container">
		<div class="row">
			<div class="section-head">
				<header class="col col-sm-12 centered">
					<section>
						<h1>Insurance</h1>
					</section>
					<p class="descriptionText">Design is the fundamental soul of a human-made creation that ends up expressing itself in successive outer layers of the product or service</p>
					<hr>
				</header>
			</div>
		</div>
		
		<div class="col-sm-6">
			<h2>Life Insurance</h2>
			<p>Nulla fringilla commodo eros, sed euismod erat facilisis non. Nunc a augue imperdiet, bibendum ligula eu, commodo felis. Suspendisse eget magna ut arcu ornare aliquet quis in elit. In tempus laoreet euismod. Pellentesque diam metus, mollis sit amet porta ac, dapibus et enim. Sed viverra tristique congue. Pellentesque justo urna, imperdiet sed lorem non, vestibulum gravida dui. Donec sollicitudin justo neque, eu posuere ipsum vulputate eu.</p>
		</div>
	
		<div class="col-sm-6">
			<h2>Long-Term Care</h2>
			<p>Aenean sagittis nunc at nunc vehicula dapibus. Nulla porta massa in lorem lobortis, vel porttitor quam molestie. Maecenas dapibus est eu rutrum condimentum. Etiam tempor libero ac tellus porta tincidunt. Sed elementum quis magna elementum sollicitudin. Aliquam at scelerisque enim, sit amet posuere lorem.</p>
		</div>

	</div>	
</section>

<section class="investment" id="investment">
	<div class="container">
		<div class="row">
			<div class="section-head">
				<header class="col col-sm-12 centered">
					<section>
						<h1>Investments</h1>
					</section>
					<p class="descriptionText">Design is the fundamental soul of a human-made creation that ends up expressing itself in successive outer layers of the product or service</p>
					<hr>
				</header>
			</div>
		</div>

		<div class="cn_wrapper row">
			<div id="cn_list" class="cn_list col col-xs-4" data-uk-scrollspy="{cls:'uk-animation-slide-left'}">
				<div class="cn_page" style="display:block;">
					<div class="cn_item selected">
						<div class="row">
							<div class="col col-sm-2 vs_icon">
								<i class="icon-rocket"></i>
							</div>
							<div class="col col-sm-10 vs_text">
								<h2 class="vs_title">Retirement</h2>
								<p class="vs_description">Adipiscing Purus</p>
							</div>
						</div>
					</div>
					<div class="cn_item">
						<div class="row">
							<div class="col col-sm-2 vs_icon">
								<i class="icon-camera"></i>
							</div>
							<div class="col col-sm-10 vs_text">
								<h2 class="vs_title">College</h2>
								<p class="vs_description">Porta Venenatis</p>
							</div>
						</div>
					</div>
					<div class="cn_item">
						<div class="row">
							<div class="col col-sm-2 vs_icon">
								<i class="icon-user-male"></i>
							</div>
							<div class="col col-sm-10 vs_text">
								<h2 class="vs_title">Mutual Funds & Annuities</h2>
								<p class="vs_description">Dapibus Ipsum</p>
							</div>
						</div>
					</div>
					<div class="cn_item">
						<div class="row">
							<div class="col col-sm-2 vs_icon">
								<i class="icon-mobile-1"></i>
							</div>
							<div class="col col-sm-10 vs_text">
								<h2 class="vs_title">Succession</h2>
								<p class="vs_description">Pellentesque Etiam</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="cn_preview" class="cn_preview col col-xs-8">
				<div class="cn_content" style="top:0;" data-uk-scrollspy="{cls:'uk-animation-slide-right', delay:300}">
					<div class="col-md-7">
					<h3>Retirement</h4>
					<p>Donec euismod ornare ipsum fringilla volutpat. Morbi iaculis eu eros eu aliquet. Vestibulum non arcu sollicitudin mi fermentum porttitor. Proin pretium condimentum euismod. Integer et justo sed dolor posuere consequat ut vel risus. Pellentesque id arcu a quam varius tincidunt.</p>
					</div>
					<div class="col-md-5">
						<img class="img-responsive" src="http://amassis.files.wordpress.com/2013/06/old-people.jpeg" />
					</div>
				</div>
				<div class="cn_content">
					<div class="col-md-7">
					<h3>College</h4>
					<p>Donec euismod ornare ipsum fringilla volutpat. Morbi iaculis eu eros eu aliquet. Vestibulum non arcu sollicitudin mi fermentum porttitor. Proin pretium condimentum euismod. Integer et justo sed dolor posuere consequat ut vel risus. Pellentesque id arcu a quam varius tincidunt.</p>
					</div>
					<div class="col-md-5">
						<img class="img-responsive" src="http://img.mylot.com/1042558.jpg" />
					</div>		
				</div>
				<div class="cn_content">
					<img class="img-responsive" src="{% static 'images/vertical-slider/vertical_tab03.png' %}" alt="Image3" />
					<div class="vs-text-preview visible-sm visible-xs">
						<h2 class="vs_title">Browser Compatibility</h2>
						<p class="vs_description">Nullam quis risus eget urna mollis ornare vel eu leo.</p>					
					</div>				
				</div>
				<div class="cn_content">
					<img class="img-responsive" src="{% static 'images/vertical-slider/vertical_tab04.png' %}" alt="Image4" />
					<div class="vs-text-preview visible-sm visible-xs">
						<h2 class="vs_title">Unparalleled Support</h2>
						<p class="vs_description">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>					
					</div>				
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}